.about {
  background-color: #dfdfdf;
  padding: 60px;
  height: 500px;
}
.about h1 {
  color: #0453f1;
  margin-bottom: 30px;
}
.aboutimg {
  border-radius: 20px;
}

.aboutimg1 {
  border-radius: 20px;
  top: 80px;
  position: relative;
}
